@import "tailwindcss";

@import "tailwindcss";

@layer utilities {
  .font-poppins {
    font-family: var(--font-poppins);
  }

  .font-geist {
    font-family: var(--font-geist-sans);
  }

  .font-mono {
    font-family: var(--font-geist-mono);
  }
}
@layer utilities {
  .font-inter {
    font-family: var(--font-inter);
  }

  .font-geist {
    font-family: var(--font-geist-sans);
  }

  .font-mono {
    font-family: var(--font-geist-mono);
  }
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

